.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid #efefef;
    margin: 250px 400px;
    border-radius: 10px;

    &>*{
        margin: 10px;

        &:nth-child(3) {
            margin-top: 50px;
        }
    }
}