.outerContainer {
    height: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &.noLabel {
        height: 35px;
    }

    .container {
        display: flex;
        flex-direction: column;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        position: relative;
        height: 35px;
        justify-content: center;
        padding: 0 8px;
        width: 400px;
        background: #fff;

        @media screen and (max-width: 500px) {
            width: 300px;

            &.small {
                width: 100px
            }

            &.large {
                width: 300px
            }

            &.extraLarge {
                width: 400px
            }
        }

        &.small {
            width: 200px
        }

        &.large {
            width: 500px
        }

        &.extraLarge {
            width: 700px
        }

        &.readOnly {
            opacity: 0.6;

            .input {
                cursor: default;
            }
        }


        .input {
            outline: none;
            border: none;
            font-family: inherit;
            font-size: 16px;
            border-radius: 0.2rem;
            margin-bottom: 1px;
            letter-spacing: 1.25px;
        }

        .label {
            position: absolute;
            background: #fff;
            left: 10px;
            top: -10px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            transition-property: font-size, top, left;
            transition-duration: 200ms;
            transition-timing-function: ease-in;
            padding: 0 5px;
            margin: 0;
            color: #004262;

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }


            &.required {
                &::after {
                    content: " *";
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            &.error {
                color: red;
            }
        }

        ::-webkit-input-placeholder {
            font-size: 15px;
            font-weight: 500;
            color: #bbb;
            padding-left: 10px;
        }

        :-ms-input-placeholder {
            font-size: 15px;
            font-weight: 500;
            color: #bbb;
            padding-left: 10px;
        }

        ::placeholder {
            font-size: 15px;
            font-weight: 500;
            color: #bbb;
            padding-left: 10px;
        }

        .optionsList {
            border-left: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
            border: 1px solid #D9D9D9;
            position: absolute;
            top: 35px;
            left: 0;
            width: 400px;
            z-index: 1;
            border-radius: 4px;
            background: #fff;
            max-height: 160px;
            overflow: auto;

            p {
                padding: 5px;
                &:hover {
                    background-color: #D9D9D9;
                    cursor: pointer;
                }
                font-weight: 500;
                font-size: 14px;
            }

            @media screen and (max-width: 500px) {
                width: 300px;
    
                &.small {
                    width: 100px
                }
    
                &.large {
                    width: 300px
                }
    
                &.extraLarge {
                    width: 400px
                }
            }
    
            &.small {
                width: 200px
            }
    
            &.large {
                width: 500px
            }
    
            &.extraLarge {
                width: 700px
            }
        }
    }
}