.container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;

    .option {
        padding: 5px 10px;
        cursor: pointer;

        p {
            color: #999999;
            font-size: 16px;
            font-weight: 600;
        }

        &.selected {
            border-bottom: 2px solid #0066ff;
            p {
                color: #0066ff;
            }
        }
    }

    margin: 10px 0;
}