.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;

    .menuAndTitle {
        display: flex;
        align-items: center;

        img {
            width: 35px;
            margin-right: 10px;
        }
        p {
            font-size: 22px;
            font-weight: 600;
        }
    }

    .account {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin-right: 10px;
        }

        p {
            font-weight: 700;
        }

        cursor: pointer;
    }
}